# ignore all node_modules folders and nested folders & files
node_modules
# ignore the specific VS Code configuration parameters
.vscode
# ignore the specific packages versions installed by the developper
package-lock.json
# ignore the development environment variables (if any)
.env
# ignore the MacOS specific files
.DS_Store
# ignore the Windows specific files
Thumbs.db
# build folder of Vite
dist
# ignore the Linux specific files
lost+found